.header_text {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #fd0101;
    display: flex;
    margin: 0;
    align-items: center;
    padding-left: 10px;
}