body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url(./fonts/inter.css);
@import url(./components/App/style/app.css);
@import url(./components/Header/style/header.css);
@import url(./components/Header/style/header_title.css);
@import url(./components/Header/style/header_text.css);
@import url(./components/Info/style/info.css);
@import url(./components/Info/style/info_text.css);
@import url(./components/Info/style/info_motion.css);
@import url(./components/Info/style/info_motion-text.css);
@import url(./components/Info/style/info_timer.css);
@import url(./components/Grid/style/grid.css);
@import url(./components/Grid/style/grid_list.css);
@import url(./components/Grid/style/grid_list-title.css);
@import url(./components/Grid/style/grid_list-text.css);
@import url(./components/Grid/style/grid_list-color.css);
@import url(./components/Grid/style/grid_list-menu-text.css);
@import url(./components/Grid/style/grid_list-container.css);