body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url(./fonts/inter.css);
@import url(./components/App/style/app.css);
@import url(./components/Header/style/header.css);
@import url(./components/Header/style/header_title.css);
@import url(./components/Header/style/header_text.css);