.grid_list-text {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #424243;
    margin: 0;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}